<div class="grid-row" *ngIf="documents.length > 1">
  <legend>
    <h3 class="heading-medium">Which document would you like to see?</h3>
  </legend>
  <div *ngFor="let d of documents" class="multiple-choice">
    <input type="radio" name="document" class="multiple-choice" [checked]="currentDocument === d.url" (change)="onDocumentChange(d.url)" [value]="d.url" />
    <label>{{d.title}}</label>
  </div>
</div>
<br>
<div *ngIf="!isConnected(); else connectedBlock">
  <h3 class="heading-medium">Waiting to connect to server...</h3>
</div>
<ng-template #connectedBlock>
  <div class="grid-row" *ngIf="!name; else withNameBlock">
    <input #addNameInput name="name" (change)="addName(addNameInput.value)" placeholder="Please type your name and hit return" />
  </div>
  <ng-template #withNameBlock>
    <div class="grid-row">
      <div class="multiple-choice">
        <input #presentingCheckbox type="checkbox" class="multiple-choice" (change)="setPresenting(presentingCheckbox.checked)" />
        <label>Presenting to followers</label>
      </div>
      <div class="multiple-choice">
        <input #followingCheckbox type="checkbox" (change)="setFollowing(followingCheckbox.checked)" />
        <label *ngIf="!presenting">Following the presenter</label>
      </div>
    </div>
    <app-participants class="column-full" *ngIf="presenting" [sessionId]="sessionId" [name]="name"></app-participants>
  </ng-template>
</ng-template>
