<div *ngIf="documents.length">
  <mv-media-viewer class="column-two-thirds"
                   [url]="currentDocument"
                   [toolbarButtonOverrides]="toolbarButtons"
                   [page]="page"
                   contentType="pdf"
                   (pageChange)="pageChange($event)">
  </mv-media-viewer>
  <app-sidebar class="column-one-quarter"
               [sessionId]="sessionId"
               [documents]="documents"
               [currentDocument]="currentDocument"
               (documentChanged)="onDocumentChange($event)"
               (followingChanged)="setFollowing($event)">
  </app-sidebar>
</div>
