<div *ngIf="hearingDetails && hearingDetails.documents" class="grid-row">
  <div class="column-two-thirds">
    <app-em-viewer *ngIf="currentDocument" [url]="currentDocument" [page]="page" (pageChanged)="pageChange($event)"></app-em-viewer>
  </div>
  <div class="column-one-third">
  <div class="grid-row" *ngIf="hearingDetails.documents.length > 1">
    <legend>
      <h3 class="heading-medium">Which document would you like to see?</h3>
    </legend>
    <div *ngFor="let d of hearingDetails.documents" class="multiple-choice">
      <input type="radio" name="document" class="multiple-choice" [checked]="currentDocument === d" (change)="onDocumentChange(d)" [value]="d" />
      <label>{{d}}</label>
    </div>
  </div>
  <br>
  <div class="grid-row" *ngIf="isConnected()">
    <div class="multiple-choice">
      <input #presentingCheckbox type="checkbox" class="multiple-choice" (change)="setPresenting(presentingCheckbox.checked)" />
      <label>Presenting to followers</label>
    </div>
    <div class="multiple-choice">
      <input #followingCheckbox type="checkbox"  (change)="setFollowing(followingCheckbox.checked)" checked />
      <label *ngIf="!presenting">Following the presenter</label>
    </div>
  </div>
  <div *ngIf="!isConnected()">
    <h3 class="heading-medium">Waiting to connect to server...</h3>
  </div>
  </div>
</div>
