<div *ngIf="documents.length" class="grid-row">
  <app-em-viewer class="column-two-thirds" *ngIf="currentDocument"
               [url]="currentDocument"
               [page]="page"
               (pageChanged)="pageChange($event)"></app-em-viewer>
  <app-sidebar class="column-one-third"
               [sessionId]="sessionId"
               [documents]="documents"
               (documentChanged)="onDocumentChange($event)"
               (followingChanged)="setFollowing($event)">
  </app-sidebar>
</div>
